/* Website redesign */
$vivid-tangerine: #06b6d4;
$ceil: #6366f1;
$caramel: #eff6ff;
$dark-jungle-green: #030213;
$sapphire-blue: #3b82f6;
$sapphire-blue-dark: #2563eb;
$purple-bright: #6366f1;
$green-bright: #14b8a6;

:root {
  --vivid-tangerine: #{$vivid-tangerine};
  --ceil: #{$ceil};
  --caramel: #{$caramel};
  --dark-jungle-green: #{$dark-jungle-green};
  --sapphire-blue: #{$sapphire-blue};
  --sapphire-blue-dark: #{$sapphire-blue-dark};
  --green-bright: #{$green-bright};
  --purple-bright: #{$purple-bright};
}
