.project-list-react {
  --project-list-content-height: #{$fat-footer-content-height};

  #project-list-root > &.content {
    padding-top: $header-height;
    padding-bottom: 0;
    min-height: var(--project-list-content-height);
    display: flex;
    flex-direction: column;

    .thin-footer & {
      --project-list-content-height: #{$thin-footer-content-height};
    }
  }

  .project-list-wrapper {
    display: flex;
    align-items: stretch;
    width: 100%;
    min-height: var(--project-list-content-height);
    padding: var(--spacing-06);
    gap: var(--spacing-06);
    background: linear-gradient(
      145deg,
      var(--bg-light-secondary) 0%,
      var(--bg-info-03) 52%,
      var(--bg-light-primary) 100%
    );
  }

  .project-list-sidebar-wrapper-react {
    position: relative;
    background-color: var(--bg-light-primary);
    flex: 0 0 15%;
    min-height: var(--project-list-content-height);
    max-width: 320px;
    min-width: 240px;
    border: 1px solid rgb(0 0 0 / 10%);
    border-radius: var(--border-radius-large);
    box-shadow: 0 10px 35px rgb(3 2 19 / 8%);

    .project-list-sidebar-subwrapper {
      display: flex;
      flex-direction: column;
      height: 100%;

      .project-list-sidebar-react {
        flex-grow: 1;
        padding: var(--spacing-08) var(--spacing-06);
        -ms-overflow-style: -ms-autohiding-scrollbar;
        color: var(--content-secondary);

        .small {
          color: var(--content-secondary);
        }
      }
    }
  }

  .project-list-main-react {
    flex: 1;
    overflow-x: hidden;
    padding: var(--spacing-08) var(--spacing-06);
    border: 1px solid rgb(0 0 0 / 10%);
    border-radius: var(--border-radius-large);
    background-color: var(--bg-light-primary);
    box-shadow: 0 10px 35px rgb(3 2 19 / 8%);
  }

  ul.project-list-filters {
    margin: var(--spacing-05) calc(-1 * var(--spacing-06));

    > li {
      > button {
        width: 100%;
        font-weight: normal;
        text-align: left;
        color: var(--content-primary);
        background-color: transparent;
        border-radius: var(--border-radius-medium);
        border: none;
        border-bottom: solid 1px transparent;
        padding: var(--spacing-03) var(--spacing-06);
        transition: all 0.2s ease;

        &:hover {
          color: var(--blue-60);
          background-color: var(--blue-10);
        }

        &:focus {
          text-decoration: none;
          outline: none;
        }
      }
    }

    > li.active {
      > button {
        background-color: var(--blue-10);
        color: var(--blue-60);
        font-weight: 700;

        .subdued {
          color: var(--blue-60);
        }
      }
    }

    > li.tag {
      &.active {
        .tag-menu > button {
          color: var(--content-primary);
          border-color: var(--border-divider);

          &:hover {
            background-color: var(--blue-10);
          }
        }
      }

      &:hover {
        &:not(.active) {
          background-color: var(--blue-10);
        }
      }

      &:not(.active) {
        .tag-menu > a:hover {
          background-color: var(--blue-10);
        }
      }
    }

    .tag-menu {
      button.dropdown-toggle {
        border-radius: var(--border-radius-base);
        border: 1px solid var(--border-divider);
        color: var(--content-primary);
        width: 16px;
        height: 16px;
        padding: var(--spacing-01) var(--spacing-03);
      }
    }
  }

  .loading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: var(--project-list-content-height);

    .loading-screen-brand-container {
      margin: 0 auto;
    }
  }

  .project-list-sidebar-survey-wrapper {
    position: sticky;
    bottom: 0;

    @include media-breakpoint-down(md) {
      position: static;
      margin-top: var(--spacing-05);
    }
  }
}
