// Sass variables
// Neutral/grey
$ds-color-neutral-50: #f9fafb;
$ds-color-neutral-100: #f3f4f6;
$ds-color-neutral-200: #e5e7eb;
$ds-color-neutral-300: #d1d5db;
$ds-color-neutral-400: #9ca3af;
$ds-color-neutral-500: #6b7280;
$ds-color-neutral-600: #4b5563;
$ds-color-neutral-700: #374151;
$ds-color-neutral-800: #1f2937;
$ds-color-neutral-900: #111827;
$ds-color-neutral-950: #030213;

// Green
$ds-color-green-50: #f0fdfa;
$ds-color-green-100: #ccfbf1;
$ds-color-green-200: #99f6e4;
$ds-color-green-300: #5eead4;
$ds-color-green-400: #2dd4bf;
$ds-color-green-500: #14b8a6;
$ds-color-green-600: #0d9488;
$ds-color-green-700: #0f766e;
$ds-color-green-800: #115e59;
$ds-color-green-900: #134e4a;
$ds-color-green-950: #042f2e;

// Yellow
$ds-color-yellow-50: #fffaeb;
$ds-color-yellow-100: #fff7db;
$ds-color-yellow-200: #ffeeb8;
$ds-color-yellow-300: #ffe58f;
$ds-color-yellow-400: #ffda61;
$ds-color-yellow-500: #ffcc20;
$ds-color-yellow-600: #f0b800;
$ds-color-yellow-700: #d1a000;
$ds-color-yellow-800: #ad8500;
$ds-color-yellow-900: #806200;
$ds-color-yellow-950: #574200;

// Red
$ds-color-red-50: #fff5f7;
$ds-color-red-100: #fee7eb;
$ds-color-red-200: #fdc9d3;
$ds-color-red-300: #fba7b7;
$ds-color-red-400: #f97b92;
$ds-color-red-500: #f51d43;
$ds-color-red-600: #e60a32;
$ds-color-red-700: #c3092b;
$ds-color-red-800: #a10723;
$ds-color-red-900: #75051a;
$ds-color-red-950: #530412;

// Blue
$ds-color-blue-50: #eff6ff;
$ds-color-blue-100: #dbeafe;
$ds-color-blue-200: #bfdbfe;
$ds-color-blue-300: #93c5fd;
$ds-color-blue-400: #60a5fa;
$ds-color-blue-500: #3b82f6;
$ds-color-blue-600: #2563eb;
$ds-color-blue-700: #1d4ed8;
$ds-color-blue-800: #1e40af;
$ds-color-blue-900: #1e3a8a;
$ds-color-blue-950: #172554;

// Teal
$ds-color-teal-50: #ecfeff;
$ds-color-teal-100: #cffafe;
$ds-color-teal-200: #a5f3fc;
$ds-color-teal-300: #67e8f9;
$ds-color-teal-400: #22d3ee;
$ds-color-teal-500: #06b6d4;
$ds-color-teal-600: #0891b2;
$ds-color-teal-700: #0e7490;
$ds-color-teal-800: #155e75;
$ds-color-teal-900: #164e63;
$ds-color-teal-950: #083344;

// Black and white
$ds-color-white: #fff;
$ds-color-black: #000;

// CSS custom properties
:root {
  // Neutral/grey
  --ds-color-neutral-50: #{$ds-color-neutral-50};
  --ds-color-neutral-100: #{$ds-color-neutral-100};
  --ds-color-neutral-200: #{$ds-color-neutral-200};
  --ds-color-neutral-300: #{$ds-color-neutral-300};
  --ds-color-neutral-400: #{$ds-color-neutral-400};
  --ds-color-neutral-500: #{$ds-color-neutral-500};
  --ds-color-neutral-600: #{$ds-color-neutral-600};
  --ds-color-neutral-700: #{$ds-color-neutral-700};
  --ds-color-neutral-800: #{$ds-color-neutral-800};
  --ds-color-neutral-900: #{$ds-color-neutral-900};
  --ds-color-neutral-950: #{$ds-color-neutral-950};

  // Green
  --ds-color-green-50: #{$ds-color-green-50};
  --ds-color-green-100: #{$ds-color-green-100};
  --ds-color-green-200: #{$ds-color-green-200};
  --ds-color-green-300: #{$ds-color-green-300};
  --ds-color-green-400: #{$ds-color-green-400};
  --ds-color-green-500: #{$ds-color-green-500};
  --ds-color-green-600: #{$ds-color-green-600};
  --ds-color-green-700: #{$ds-color-green-700};
  --ds-color-green-800: #{$ds-color-green-800};
  --ds-color-green-900: #{$ds-color-green-900};
  --ds-color-green-950: #{$ds-color-green-950};

  // Yellow
  --ds-color-yellow-50: #{$ds-color-yellow-50};
  --ds-color-yellow-100: #{$ds-color-yellow-100};
  --ds-color-yellow-200: #{$ds-color-yellow-200};
  --ds-color-yellow-300: #{$ds-color-yellow-300};
  --ds-color-yellow-400: #{$ds-color-yellow-400};
  --ds-color-yellow-500: #{$ds-color-yellow-500};
  --ds-color-yellow-600: #{$ds-color-yellow-600};
  --ds-color-yellow-700: #{$ds-color-yellow-700};
  --ds-color-yellow-800: #{$ds-color-yellow-800};
  --ds-color-yellow-900: #{$ds-color-yellow-900};
  --ds-color-yellow-950: #{$ds-color-yellow-950};

  // Red
  --ds-color-red-50: #{$ds-color-red-50};
  --ds-color-red-100: #{$ds-color-red-100};
  --ds-color-red-200: #{$ds-color-red-200};
  --ds-color-red-300: #{$ds-color-red-300};
  --ds-color-red-400: #{$ds-color-red-400};
  --ds-color-red-500: #{$ds-color-red-500};
  --ds-color-red-600: #{$ds-color-red-600};
  --ds-color-red-700: #{$ds-color-red-700};
  --ds-color-red-800: #{$ds-color-red-800};
  --ds-color-red-900: #{$ds-color-red-900};
  --ds-color-red-950: #{$ds-color-red-950};

  // Blue
  --ds-color-blue-50: #{$ds-color-blue-50};
  --ds-color-blue-100: #{$ds-color-blue-100};
  --ds-color-blue-200: #{$ds-color-blue-200};
  --ds-color-blue-300: #{$ds-color-blue-300};
  --ds-color-blue-400: #{$ds-color-blue-400};
  --ds-color-blue-500: #{$ds-color-blue-500};
  --ds-color-blue-600: #{$ds-color-blue-600};
  --ds-color-blue-700: #{$ds-color-blue-700};
  --ds-color-blue-800: #{$ds-color-blue-800};
  --ds-color-blue-900: #{$ds-color-blue-900};
  --ds-color-blue-950: #{$ds-color-blue-950};

  // Teal
  --ds-color-teal-50: #{$ds-color-teal-50};
  --ds-color-teal-100: #{$ds-color-teal-100};
  --ds-color-teal-200: #{$ds-color-teal-200};
  --ds-color-teal-300: #{$ds-color-teal-300};
  --ds-color-teal-400: #{$ds-color-teal-400};
  --ds-color-teal-500: #{$ds-color-teal-500};
  --ds-color-teal-600: #{$ds-color-teal-600};
  --ds-color-teal-700: #{$ds-color-teal-700};
  --ds-color-teal-800: #{$ds-color-teal-800};
  --ds-color-teal-900: #{$ds-color-teal-900};
  --ds-color-teal-950: #{$ds-color-teal-950};

  // Black and white
  --ds-color-white: #{$ds-color-white};
  --ds-color-black: #{$ds-color-black};
}
